<mat-toolbar color="primary" class="fixed-navbar">
    <div class="navbar-container">
        <img src="assets/images/thales_logo.png" class="thales-logo">
        <div class="personal-info-container">
            <a href="https://www.linkedin.com/in/dgcorredorr/" target="_blank" rel="noopener noreferrer"
                class="contact-icon">
                <img src="assets/images/linkedin_logo.png" class="contact-icon">
            </a>
            <a href="https://github.com/dgcorredorr" target="_blank" rel="noopener noreferrer" class="contact-icon">
                <img src="assets/images/github_logo.png" class="contact-icon">
            </a>
        </div>
    </div>
</mat-toolbar>